<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite" thread-count="3" parallel="methods">
    <test name="Test Basics 1" >
        <classes>
            <class name="TestApplication">
            <methods>
                <include name="testForgotPassword"></include>
                <include name="registerNewAccount"></include>
                <include name="testHomePage"></include>
            </methods>
            </class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->